#about {
    height: fit-content;
    width: 100%;
    background-color: #5d663d;
}

#aboutContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #000000;
}

#aboutSectionHeader {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-image: url("../assets/backgrounds/valleyOfFireTexture.jpg");
    background-size: 100% 100%;
    font-weight: bolder;
    width: 100%;
    height: fit-content;
}

#aboutSectionTitle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #38191caf 100% 100%;
    height: 100%;
    width: 100%;
    padding: 3% 0%;
}

#aboutTitleDiv {
    width: 94%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-self: flex-start;
    padding: 1% 0%;
    margin: 0% 3% 4%;
    border-bottom: white solid 0.1em;
}

#aboutTitleText {
    font-family: "Baskervville", sans-serif;
    color: white;
    font-weight: bold;
    font-size: 3.5em;
}

#aboutTitleImage {
    height: 6em;
    width: 22em;
}

#aboutLogo {
    height: 18em;
    width: 18em;
    padding: 2%;
}

#aboutTagline {
    text-align: center;
    font-family: "Courgette", sans-serif;
    color: #FFFFFF;
    padding: 3% 0% 0%;
    width: 90%;
}

#aboutMissionText {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: left;
    font-family: "Baskervville", sans-serif;
    padding: 2% 3%;
    color: white;
}

#aboutMissionTitle {
    font-weight: bold;
    padding: 2% 0%;
    margin: 0% 2% 2% 0%;
}

#aboutMissionDescrip, #aboutMissionOrder {
    border-top: dotted white 0.09em;
    margin: 2% 0% 0%;
    padding: 4% 0% 2%;
}

#aboutServiceRow {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: fit-content;
    width: 100%;
    padding: 0% 2% 0%;
    /* background-image: url("../assets/backgrounds/Textures/small-wood-vertical-panel-texture.jpeg");
    background-size: 100% 100%; */
    background-color: #f5d688;
    color: black;
}

#aboutServiceBg {
    padding: 3%;
    border: rgb(51, 31, 31) double 0.6em;
    margin: 2%;
}

#aboutServices {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

#aboutServicesEx {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.aboutServicesColumn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    max-width: 47%;
}

.aboutServiceItem {
    /* border-radius: 4px;
    background: linear-gradient(145deg, #c2c39f, #e6e8bd);
    box-shadow:  5px 5px 0px #b7b896, 
                -0px -0px 0px #f7facc; */
    border-radius: 4px;
    background: linear-gradient(145deg, #40161a, #361316);
    box-shadow:  5px 5px 0px #19090a,
                -0px -0px 0px #6d242a;
    margin: 0% 0% 4%;
    padding: 2%;
    color: white;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.serviceTitle {
    font-family: "Courgette", sans-serif;
    text-align: center;
    margin: 3% 0%;
}

.serviceEx {
    font-family: "Baskervville", sans-serif;
    text-align: center;
}

.serviceIcon {
    margin: 0% 0% 2%;
    height: 3em;
    width: 3em;
}


#aboutServicesContact {
    border-top: #000000 solid 0.05em;
    padding: 2%;
}

#aboutGiveBack {
    width: 100%;
    height: fit-content;
    color: #fff;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* background-color: #3C1518; */
    background-image: url("../assets/backgrounds/Textures/dough-balls-next-to-rolling-pins.jpg");
    background-size: 100% 100%;
}

#aboutGiveBackBg {
    background-color: rgba(114, 34, 9, 0.466);
    width: 100%;
    height: 100%;
    padding: 1% 2% 0%;
}

.aboutGiveRows {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    width: 100%;
}

.aboutGiveItem {
    text-align: center;
    font-family: "Baskervville", sans-serif;
    border: solid black 0.08em;
    border-radius: 6px;
    background: linear-gradient(145deg, #fff6b3c2, #e6cf96d5);
    box-shadow:  5px 5px 0px #d9c48e, 
                -5px -5px 0px #ffffc0;
    padding: 2%;
    color: black;
    width: 47%;
    margin: 1% 2% 4%;
}

#aboutAction {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: fit-content;
    width: 100%;
    padding: 0% 2% 0%;
    background-color: #f5d688;
    color: black;
}

#aboutActionBg {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3%;
    border: rgb(51, 31, 31) double 0.6em;
    margin: 2%;
}

#aboutActionDescript {
    text-align: center;
    font-family: "Baskervville", sans-serif;
}

#aboutContactBtn {
    border-radius: 4px;
    background: linear-gradient(145deg, #40161a, #361316);
    box-shadow:  5px 5px 0px #19090a,
                -0px -0px 0px #6d242a;
    color: #fff;
    padding: 2%;
    font-family: "Baskervville", sans-serif;
    margin: 2% 0% 0%;
}

.aboutTitles {
    /* border-bottom: #3C1518 solid 0.05em; */
    font-family: 'Courgette', sans-serif;
    font-weight: bolder;
    margin-top: 2%;
    text-align: left;
    padding: 0% 0% 2% 3%;
}

.aboutLineDivider {
    width: 50%;
    height: 5em;
}

.aboutLink {
    color: #21198a;
}

.aboutLink:hover {
    color: #080d50;
}

@media (min-width: 1200px){
    #aboutTitleImage {
        height: 10em;
    }
}

@media (max-width: 770px) {

    #aboutTitleImage {
        height: 6em;
    }
    
    #aboutTagline {
        text-align: center;
        font-family: "Baskervville", sans-serif;
        color: #FFFFFF;
        padding: 3% 2%;
    }

    .aboutLineDivider {
        width: 80%;
        height: 5em;
    }
    
    #aboutMission {
        width: 100%;
        height: fit-content;
        padding: 1% 2% 0%;
        color: #000;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        background-color: #e4b78a;
    }
    
    #aboutMissionText {
        order: 2;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        text-align: left;
        font-family: "Baskervville", sans-serif;
        padding: 2% 3%;
    }
    
    
    #aboutLogo {
        order: 1;
        height: 14em;
        width: 15em;
        padding: 2%;
        margin: 2% 0% 0%;
    }

    #aboutServicesEx {
        flex-direction: column;
        justify-content: center;
    }

    .aboutServicesColumn {
        max-width: 100%;
    }

    .aboutGiveRows {
        flex-direction: column;
        padding: 0% 3%;
    }

    .aboutGiveItem {
        width: 100%;
        margin: 1% 0% 4%;
    }
}

@media (max-width: 500px){
    #aboutSectionHeader {
        height: 17em;
    }

    #aboutTitleImage {
        height: 4em;
    }
    #aboutTagline {
        font-size: 2em !important;
    }
    
}

@media (max-width: 425px) {
    
}