#home {
    height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#headerContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    /* background: url(../assets/backgrounds/Textures/gray-rock-marble-texture.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; */
    /* background: #faf2e9; */
    /* background-size: 100% 100% !important;
	-webkit-background-size: cover !important; */
    width: 100%;
    height: 100%;
}

#homeInfo {
    width: 100%;
    height: fit-content;
    background: url(../assets/backgrounds/Textures/bakery-window-with-items.jpeg) no-repeat center center;
    background-size: 100% 100%;
    color: #0F0905;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#homeLogo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0% 0% 1%;
}
#homeLogoImage {
    height: 10em;
}

#homeInfoText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #432818b2;
    padding: 2% 1%;
}

#homeTagline {
    color: #FCF3C5;
    text-align: center;
    font-family: 'Courgette', sans-serif;
}

#homeMenuAction {
    border-top: #ffe9d1 dotted 0.2em;
    margin: 0.5% 0% 0%;
    padding: 1% 0%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #FCF3C5;
    width: 80%;
    font-family: 'Baskervville', sans-serif;
}

#actionText {
    font-weight: bold;
    text-align: center;
}

#homeMenuBtn {
    margin: 3% 0% 0%;
    padding: 1%;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid black 0.08em;
    border-radius: 4px;
    /* background: linear-gradient(145deg, #e6e8bd, #c2c39f);
    box-shadow:  8px 8px 0px #b7b896, 
                -8px -8px 0px #f7facc; */
    background: linear-gradient(145deg, #fff6b3, #e6cf96);
    box-shadow:  8px 8px 0px #d9c48e, 
                -8px -8px 0px #ffffc0;
}

#homeMenuBtn:hover {
    background: linear-gradient(145deg, #afa3a3, #948989);
    box-shadow:  8px 8px 0px #8b8181, 
             -8px -8px 0px #bdafaf;
}

.homeLightLink {
    color: #432818;
}

.homeLightLink:hover {
    color: #FCF3C5;
}

#homeBriefAbout {
    width: 100%;
    height: fit-content;
    background: #D7D9B1;
    color: #0F0905;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1% 3%;
}

#homeAboutRow {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: fit-content;
    padding: 4%;
    border: rgb(51, 31, 31) double 0.6em;
    margin: 2%;
}

#homeAboutText {
    font-family: 'Baskervville', sans-serif;
    width: 80%;
    text-align: center;
}

#homeAboutTitle {
    font-weight: bold;
    margin: 0% 0% 4%;
}

#homeAboutDescipt {
    font-weight: 500;
}

#homeAboutBtn{
    padding: 1%;
    width: 35%;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 4% 0% 0%;
    text-align: center;
    font-size: 1.5em;
    font-family: "Baskervville", sans-serif;
    font-weight: 500;
    border: #2e331e solid 0.07em;
}

#homeAboutBtn, #homeWholesaleBtn {
    background: linear-gradient(145deg, #4b5231, #3f4529);
    box-shadow:  8px 8px 0px #757d53, 
                 -8px -8px 0px #9fa971;
}

#homeAboutBtn:hover, #homeWholesaleBtn:hover {
    background: linear-gradient(145deg, #949d69, #7c8458);
    box-shadow:  8px 8px 0px #4f5734, 
                -8px -8px 0px #6b7546;
}

.homeLink {
    color: #ffe9d1;
}

.homeLink:hover {
    color: #130a01;
}

#homeWhatWeBring {
    width: 100%;
    height: fit-content;
    background: url(../assets/backgrounds/Textures/gray-rock-marble-texture.jpg) no-repeat center center;
    background-size: 100% 100%;
    color: #ffe9d1;
    font-family: "Baskervville", sans-serif;
    font-weight: bold;
}

#benefitsBg {
    width: 100%;
    background-color: #00000091;
    padding: 3%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

#benefitsTitle {
    width: 80%;
    text-align: center;
    padding: 2% 0%;
    /* font-family: "Courgette", sans-serif; */
    font-family: 'Baskervville', sans-serif;
    font-weight: bold;
}

#benefitsCards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    width: 100%;
}

#benefit1, #benefit2, #benefit3 {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border: solid black 0.08em;
    background: linear-gradient(145deg, #fff6b3, #e6cf96);
    box-shadow:  5px 5px 0px #d9c48e, 
                -5px -5px 0px #ffffc0;
    padding: 2%;
    color: black;
    margin: 1% 2%;
    text-align: center;
}

#chefHatIcon, #moneyIcon, #carryingIcon {
    height: 5em;
    width: 5em;
    margin: 0% 0% 8%;
}

.benefitTitle {
    font-weight: bold;
    margin: 0% 0% 8%;
}

.benefitDescrip {
    text-align: left;
}

#homeWorkWithUs {
    width: 100%;
    height: fit-content;
    background: #D7D9B1;
    color: #0F0905;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1%;
    font-family: 'Baskervville', sans-serif;
}

#homeWorkWithUsBg {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4%;
    border: rgb(51, 31, 31) double 0.6em;
    margin: 2%;
}

#homeWholesaleTitle {
    font-weight: bold;
    margin: 0% 0% 4%;
    text-align: center;
}

#homeWholesaleDescrip {
    text-align: center;
}

#homeWholesaleBtn {
    padding: 1%;
    width: 35%;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 4% 0% 0%;
    text-align: center;
    font-size: 1.5em;
    font-family: "Baskervville", sans-serif;
    font-weight: 500;
    border: #2e331e solid 0.07em;
}

@media (min-width:1200px){
    #home {
        height: fit-content;
        width: 100%;
    }

    #homeLogoImage {
        height: 12em;
    }
}

@media (max-width:960px) {
    #home {
        height: fit-content;
        width: 100%;
    }
    
}

@media (max-width:768px){
    #homeLogoImage {
        height: 8.7em;
    }
    #homeAboutTitle, #homeWholesaleTitle {
        margin: 0% 0% 6%;
    }
    #homeAboutBtn, #homeWholesaleBtn {
        width: 45%;
        margin: 5% 0%;
    }
}

@media (max-width:660px){
    #homeInfo {
        width: 100%;
    }
    #homeLogoImage {
        height: 8.4em;
    }
    #homeInfoText {
        width: 100%;
        padding: 4% 4%;
    }
    #homeMenuBtn {
        margin: 3% 0% 0%;
        width: 60%;
    }
    #homeAboutRow {
        padding: 4% 0%;
    }
    #homeAboutText {
        width: 80%;
    }
    #homeAboutBtn, #homeWholesaleBtn {
        width: 70%;
        margin: 4% 0%;
    }
}

@media (max-width:610px){
    #homeInfo {
        width: 100%;
    }
    #homeLogoImage {
        height: 8em;
    }
    #homeMenuAction {
        width: 90%;
    }
    #benefitsCards {
        flex-direction: column;
        align-items: center;
    }
    
    #benefit1, #benefit2, #benefit3 {
        width: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
        border: solid black 0.08em;
        background: linear-gradient(145deg, #fff6b3, #e6cf96);
        box-shadow:  5px 5px 0px #d9c48e, 
                    -5px -5px 0px #ffffc0;
        padding: 2%;
        color: black;
        margin: 3% 2%;
        text-align: center;
    }
}

@media (max-width:550px){
    #homeInfo {
        width: 100%;
    }
    #homeLogoImage {
        height: 7.8em;
    }
    #homeAboutTitle, #homeWholesaleTitle {
        margin: 0% 0% 10%; 
    }
    #homeAboutBtn, #homeWholesaleBtn {
        width: 90%;
        margin: 6% 0%;
    }
}

@media (max-width:426px){
    #homeInfo {
        width: 100%;
    }
    #homeLogoImage {
        height: 7em;
    }
    #homeBtnRow {
        flex-direction: column;
        align-items: center;
        height: fit-content;
        padding: 6% 0%;
    }
}