#about {
    height: fit-content;
    width: 100%;
    background-color: #5d663d;
    padding: 5% 2%;
}

#aboutContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#aboutSectionTitle {
    font-family: 'Courgette', sans-serif;
    font-weight: bolder;
    width: 100%;
    padding: 1%;
    color: #FCF3C5;
    margin: 0% 0% 2% 0%;
    text-align: center;
    border-radius: 6px;
    background: #4B2F1B;
    box-shadow: inset 12px 12px 17px #352113, 
                inset -12px -12px 17px #623d23;
    /* border: #965E36 solid 0.08em;
    border-radius: 17px;
    background: #FFE6A7;
    box-shadow: inset 8px 8px 9px #665c43, 
                inset -8px -8px 9px #ffffff; */
}

#aboutTitleText {
    padding: 1% 0% 0%;
}

#aboutTitleTopBorder, #aboutTitleBottomBorder {
    width: 100%;
    height: 4em;
}

#aboutRow1, #aboutRow2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    height: fit-content;
    width: 100%;
}

#aboutRow1 {
    padding: 0% 0% 2% 0%;
}

.aboutLineDivider {
    width: 100%;
}

#aboutMission, #aboutServices, #aboutHowWeMakeIt, #aboutHowToOrder {
    width: 46%;
    height: fit-content;
    border-radius: 12px;
    background: #B8BE9D;
    box-shadow:  5px 5px 5px #787c66, 
                -5px -5px 5px #f8ffd4;
    /* border-radius: 17px;
    background: #D7D9B1;
    box-shadow:  6px -6px 12px #b5b695, 
                -6px 6px 12px #f9fccd; */
    color: #251605;
    padding: 2%;
    text-align: center;
    border: #3C1518 outset 0.1em;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

#aboutMission, #aboutHowWeMakeIt {
    margin: 0% 2% 0% 0%;
}

.aboutTitles {
    /* border-bottom: #3C1518 solid 0.05em; */
    font-family: 'Courgette', sans-serif;
    font-weight: bolder;
}

.aboutEmphasis {
    font-family: 'Courgette', sans-serif;
    font-weight: bold;
}

#aboutServicesList {
    font-family: 'Courgette', sans-serif;
    font-weight: bold;
}

#aboutServicesContact {
    border-top: #3C1518 solid 0.05em;
    padding: 2%;
}

#aboutHowToOrder {
    overflow-wrap: break-word;
}

.aboutLink {
    color: #0a1daa;
}

.aboutLink:hover {
    color: #360093;
}

.aboutHowToList {
    list-style-type: none;
    padding: 0%;
}

.aboutHowToListItems {
    color: #251605;
    border-radius: 56px;
background: linear-gradient(145deg, #fff8b9, #e6d19c);
box-shadow:  5px 5px 9px #a69770, 
             -5px -5px 9px #ffffea;
    /* border-radius: 17px;
    background: #FFE6A7;
    box-shadow: inset 8px -8px 16px #d6c18c, 
                inset -8px 8px 16px #ffffc2; */
    padding: 1%;
    border: #3C1518 solid 0.2em;
}

@media (max-width: 770px) {
    #about {
        padding: 10% 2%;
    }

    #aboutRow1, #aboutRow2 {
        flex-direction: column;
    }

    #aboutRow1 {
        padding: 0% 0% 8% 0%;
    }

    #aboutMission, #aboutServices, #aboutHowWeMakeIt, #aboutHowToOrder {
        width: 100%;
    }

    #aboutMission, #aboutHowWeMakeIt {
        margin: 0% 0% 8% 0%;
    }
}