#about {
    height: fit-content;
    width: 100%;
    background-color: #5d663d;
    padding: 1% 2% 5%;
}

#aboutContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #000000;
}

#aboutSectionTitle {
    font-weight: bolder;
    width: 80%;
    height: 18em;
    padding: 1%;
    margin: 0% 0% 1% 0%;
    text-align: center;
    border-radius: 6px;
}

#aboutTitleImage {
    width: 100%;
    height: 100%;
}

.mobileSize {
    display: none;
}

#aboutServiceRow, #aboutHowRow, #aboutOrderRow {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: fit-content;
    width: 100%;
}

#aboutServiceRow {
    padding: 0% 2% 0%;
}

#aboutOrderRow {
    padding: 0% 0% 2%;
}

.aboutLineDivider {
    width: 50%;
    height: 5em;
}

#aboutItems {
    width: 98%;
    height: fit-content;
    background-image: url("../assets/backgrounds/oldParchmentBackground.jpg");
    background-size: 100% 100%;
    border-radius: 50px; 
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

#aboutMission {
    width: 100%;
    height: fit-content;
    padding: 1% 2% 0%;
    color: #000000;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

#aboutMissionText {
    width: 75%;
}

#aboutServicesIcon, #aboutHowIcon, #aboutOrderIcon{
    padding: 0% 3% 0% 0%;
}


#aboutServices, #aboutHowWeMakeIt, #aboutHowToOrder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70%;
}

/* #aboutHowWeMakeIt, #aboutHowToOrder {
    width: 46%;
    height: fit-content;
    border-radius: 12px;
    background: #B8BE9D;
    box-shadow:  5px 5px 5px #787c66, 
                -5px -5px 5px #f8ffd4;
    /* border-radius: 17px;
    background: #D7D9B1;
    box-shadow:  6px -6px 12px #b5b695, 
                -6px 6px 12px #f9fccd; */
    /*color: #251605;
    padding: 2%;
    text-align: center;
    border: #3C1518 outset 0.1em;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
} */
.aboutTitles {
    /* border-bottom: #3C1518 solid 0.05em; */
    font-family: 'Courgette', sans-serif;
    font-weight: bolder;
    margin-top: 2%;
}

.aboutEmphasis {
    font-family: 'Courgette', sans-serif;
    font-weight: bold;
}

#aboutServicesList {
    font-family: 'Courgette', sans-serif;
    font-weight: bold;
    margin: 2% 0%;
}

#aboutServicesContact {
    border-top: #3C1518 solid 0.05em;
    padding: 2%;
}

#aboutHowWeMakeIt {
    margin: 0% 0.5% 0% 4%;
}

#aboutHowToOrder {
    overflow-wrap: break-word;
}

.aboutLink {
    color: #1e0cd5;
}

.aboutLink:hover {
    color: #0c1265;
}

.aboutHowToList {
    list-style-type: none;
    padding: 0%;
}

.aboutHowToListItems {
    color: #251605;
    border-radius: 15px;
    background: linear-gradient(145deg, #e6e8bd, #c2c39f);
    box-shadow:  5px 5px 10px #565747, 
                -5px -5px 10px #ffffff;
    padding: 1% 1% 1% 3%;
    border: #3C1518 solid 0.2em;
    width: 96%;
}

@media (max-width: 770px) {
    .aboutLineDivider {
        width: 80%;
        height: 5em;
    }

    #aboutSectionTitle {
        width: 100%;
        height: 10em;
    }

    #about {
        padding: 10% 2%;
    }

    #aboutServicesIcon, #aboutHowIcon, #aboutOrderIcon {
        padding: 0%;
    }

    #aboutServiceRow, #aboutHowRow, #aboutOrderRow {
        flex-direction: column;
        align-items: center;
    }

    #aboutMission, #aboutServices, #aboutHowWeMakeIt, #aboutHowToOrder {
        width: 100%;
        text-align: center;
        padding: 2%;
    }

    #aboutServicesEx {
        text-align: left;
    }

    #aboutHowWeMakeIt {
        margin: 0% 3%;
    }

    #aboutHowToListItems {
        padding: 1%;
    }
    

}

@media (max-width: 425px) {
    .tabletDesktopSize {
        display: none;
    }

    .mobileSize {
        display: flex;
    }
}