#home {
    height: 100%;
    width: 100%;
    background: #3c1518; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#headerContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    background: url(../assets/backgrounds/oldParchmentFloralBorder.png) no-repeat;
    /* background-size: cover !important; */
    /* -webkit-background-size: cover !important; */
    background-size: 100% 100%;
    width: 98%;
    height: 100%;
    padding: 6% 2%;
}

#homeInfo {
    width: 80%;
    height: fit-content;
    border-radius: 17px;
    background: linear-gradient(145deg, rgba(31, 19, 5, 0.92), rgba(40, 24, 5, 0.92));
    box-shadow:  26px 26px 52px #0f0902, 
                -26px -26px 52px #3b2308;
    color: #FBF2C0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.5%;
}

#homeInfoBorderImage{
    background: url(../assets/borders/gold/flowerGoldenRectangularBorderTransparent-AllAround.png) no-repeat center center;
    background-size: 100% 100% !important;
    -webkit-background-size: 100% 100% !important;
    width: 100%;
    height: 100%;
}

#homeInfoText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15% 15%;
}


#homeTitle {
    padding: 2% 2% 0%;
    text-align: center;
}

.spanTitle {
    font-family: 'Courgette', sans-serif;
}

#homeTagline {
    padding: 0% 2%;
    text-align: center;
}

#homeList {
    padding: 0% 2%;
    text-align: center;
    font-family: 'Kalam', sans-serif;
}

@media (min-width:1200px){
    #home {
        height: 100%;
        width: 100%;
    }
    
    #homeInfoText {
        padding: 10% 12%;
    }
}

@media (max-width:960px) {
    #home {
        height: 100%;
        width: 100%;
    }
    
}

@media (max-width:768px){
    #homeInfoText {
        padding: 18% 13%;
    }
}

@media (max-width:660px){
    #homeInfo {
        width: 90%;
    }
    #homeInfoText {
        padding: 18% 13%;
    }
}

@media (max-width:610px){
    #homeInfo {
        width: 98%;
    }
    #homeInfoText {
        padding: 21% 16%;
    }
}

@media (max-width:550px){
    #homeInfo {
        width: 100%;
    }
    #homeInfoText {
        padding: 28% 16% 21%;
    }
}

@media (max-width:426px){
    #homeInfo {
        width: 100%;
    }
    #homeInfoText {
        padding: 18% 12% 12%;
        border-radius: 17px;
        background-color: rgba(40, 24, 5, 0.80);
    }
}