#home {
    height: 55%;
    width: 100%;
}

#headerContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #251605 url(../assets/bakeryHeaderImage.jpg) no-repeat center center;
    background-size: cover !important;
	-webkit-background-size: cover !important;
    width: 100%;
    height: 100%;
    padding: 7% 2%;
}

#homeInfo {
    width: 80%;
    height: fit-content;
    background: rgba(22, 13, 3, 0.925);
    color: #FBF2C0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3% 0%;
}

#homeTitle {
    padding: 0% 5%;
    text-align: center;
}

.spanTitle {
    font-family: 'Courgette', sans-serif;
}

#homeTagline {
    padding: 0% 5%;
    text-align: center;
}

#homeList {
    padding: 0% 5%;
    text-align: center;
    font-family: 'Kalam', sans-serif;
}

@media (max-width:960px) {
    #home {
        height: fit-content;
    }
}