#cardSection {
    width: 100%;
    padding: 2%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border: black solid 0.1em;
    margin: 1% 2%;
    font-family: 'Libre Baskerville', sans-serif;
    background-color: #d7d9b1;
}

#cardNameRow {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0% 0% 1%;
    border-bottom: #3C1518 solid 0.1em;
    margin: 0% 0% 2%;
    font-weight: 700;
}

#cardDescription {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    padding: 0% 0% 2%;
}

.accordionHeaderTitle {
    font-weight: 300;
}

.accordionItem {
    width: 100%;
}

.ingredientsHeader {
    background-color: #d7d9b13d !important;
    border-right: none !important;
    border-left: none !important;
    border-top: none !important;
    border-bottom: #3C1518 solid 0.09em !important;
    padding: 2% 0% !important;
}

.ingredientsPanel {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#sizeChoice {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-bottom: 3%;
    margin-bottom: 5%;
    border-bottom: solid black 0.07em;
    text-align: left;
}

#option1Choice {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: left;
}

#optionTitle {
    font-family: 'Libre Baskerville', sans-serif !important;
    font-size: 1.2rem !important;
    color: black !important;
}

.MuiFormControlLabel-label {
    font-family: 'Libre Baskerville', sans-serif !important;
    font-size: 1.2rem !important;
    color: black;
}

.itemInputLabel {
    padding-left: 3%;
}

#amountForm {
    width: 20%;
}

#amountInput {
    /* background-color: #3c151849; */
    color: black !important;
    height: 2em !important;
    padding: 8px 1px 9px !important;
    font-size: 1.2rem;
    font-family: 'Libre Baskerville', sans-serif !important;
}

.MuiInputLabel-formControl {
    font-family: 'Libre Baskerville', sans-serif !important;
    font-size: 1.5rem !important;
    color: black !important;
}

.MuiFormControl-root {
    font-size: 1.5rem;
    color: black !important;
}

#addToOrderSection {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 1% 0% 0%;
}

#addToOrderButton {
    padding: 1%;
    color: #FBF2C0 !important;
    border-bottom: 0.08em solid #C9CBA3;
    border-top: 0.08em solid #C9CBA3;
    background-color: #3C1518;
    width: 30%;
    text-align: center;
    border-radius: 60px;
}
#addToOrderButton:hover {
    border-bottom: 0.08em solid #868F60;
    border-top: 0.08em solid #868F60;
    border-radius: 60px;
    background: linear-gradient(45deg, #771f1d, #641a18);
    box-shadow:  5px -5px 0px #651a19, 
             -5px 5px 0px #79201d;
}

@media (max-width: 770px) {
    #cardSection {
        width: 100%;
    }

    #cardNameRow {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    #addToOrderSection {
        flex-direction: column;
        justify-content: center;
    }

    #amountForm {
        width: 90%;
        margin: 2.5% 0%; 
    }

    #addToOrderButton {
        width: 80%
    }
}