#menu {
    height: 60%;
    width: 100%;
    background-color: #FFE6A7;
    padding: 7% 2%;
}

#menuSectionTitle {
    font-family: 'Kalam', sans-serif;
    font-weight: bolder;
    width: 100%;
    padding: 2% 1% 1% 3%;
    color: #D7D9B1;
    border: #868F60 solid 0.08em;
    margin: 0% 0% 2% 0%;
    border-radius: 17px;
    background: #6F1D1B;
    box-shadow: inset 8px -8px 16px #5d1817, 
                inset -8px 8px 16px #81221f;
}