#menu {
    height: 60%;
    width: 100%;
    background: #FFE6A7 url('../assets/chocolatineCroissantsImage.jpg') no-repeat center center;
    background-size: cover !important;
	-webkit-background-size: cover !important;
    padding: 7% 2%;
}

#menuSectionTitle {
    font-family: 'Kalam', sans-serif;
    font-weight: bolder;
    width: 100%;
    padding: 2% 1% 1% 3%;
    color: aliceblue;
    border: #868F60 solid 0.08em;
    margin: 0% 0% 2% 0%;
    border-radius: 17px;
    background: #6F1D1B;
    box-shadow: inset 8px -8px 16px #491312, 
                inset -8px 8px 16px #952724;
}