#smallBatch {
    width: 100;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.sectionDividerDiv {
    width: 98%;
    height: 3.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sectionDivider {
    width: 85%;
    height: 100%;
}

#smallBatchInfo {
    padding: 0% 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#orderInfoTitle {
    text-align: left;
}

#smallBatchSavory, #smallBatchSweet, #smallBatchSpecial {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#savoryCroissantBased, 
#savoryBreadBased, 
#savoryOther, 
#sweetCroissantBase, 
#sweetBreadBased, 
#sweetOther {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}

.accordionSection {
    width: 92%;
    margin-bottom: 2%;
}

.sectionHeader {
    background-color: rgba(243, 234, 212, 0.4);
    border: solid #232617 0.1em;
}

.itemCardPanel {
    border: solid #232617 0.1em;
    background-color: rgba(215, 217, 177, 0.7);
}

#specialOrderInfo {
    text-align: center;
    padding: 0% 3%;
}

@media (max-width: 770px){
    #savoryCroissantBased, 
    #savoryBreadBased, 
    #savoryOther, 
    #sweetCroissantBase, 
    #sweetBreadBased, 
    #sweetOther {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}